xsd/atom-https.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="https://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="link">
		<xs:complexType>
			<xs:attribute name="href" use="required" type="xs:anyURI"/>
			<xs:attribute name="rel" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="self"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="application/rss+xml"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
