xsd/edgar.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.sec.gov/Archives/edgar" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edgar="http://www.sec.gov/Archives/edgar">
	<xs:element name="period" type="xs:int"/>
	<xs:element name="formType" type="xs:string"/>
	<xs:element name="xbrlFile">
		<xs:complexType>
			<xs:attribute name="sequence" use="required" type="xs:short"/>
			<xs:attribute name="file" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
			<xs:attribute name="size" use="required" type="xs:int"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:anyURI"/>
			<xs:attribute name="inlineXBRL" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cikNumber" type="xs:int"/>
	<xs:element name="xbrlFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="edgar:xbrlFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fileNumber" type="xs:string"/>
	<xs:element name="filingDate" type="xs:string"/>
	<xs:element name="xbrlFiling">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="edgar:companyName"/>
				<xs:element ref="edgar:formType"/>
				<xs:element ref="edgar:filingDate"/>
				<xs:element ref="edgar:cikNumber"/>
				<xs:element ref="edgar:accessionNumber"/>
				<xs:element ref="edgar:fileNumber"/>
				<xs:element ref="edgar:acceptanceDatetime"/>
				<xs:element ref="edgar:period" minOccurs="0"/>
				<xs:element ref="edgar:assistantDirector" minOccurs="0"/>
				<xs:element ref="edgar:assignedSic" minOccurs="0"/>
				<xs:element ref="edgar:otherCikNumbers" minOccurs="0"/>
				<xs:element ref="edgar:fiscalYearEnd" minOccurs="0"/>
				<xs:element ref="edgar:xbrlFiles"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="assignedSic" type="xs:short"/>
	<xs:element name="companyName" type="xs:string"/>
	<xs:element name="fiscalYearEnd" type="xs:short"/>
	<xs:element name="accessionNumber" type="xs:string"/>
	<xs:element name="otherCikNumbers" type="xs:string"/>
	<xs:element name="assistantDirector" type="xs:string"/>
	<xs:element name="acceptanceDatetime" type="xs:long"/>
</xs:schema>
