xsd/rss.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) -->
<xs:schema xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:edgar="http://www.sec.gov/Archives/edgar">
	<xs:import namespace="http://www.w3.org/2005/Atom" schemaLocation="atom.xsd"/>
	<xs:import namespace="http://www.sec.gov/Archives/edgar" schemaLocation="edgar.xsd"/>
	<xs:element name="rss">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="channel"/>
			</xs:sequence>
			<xs:attribute name="version" use="required" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="guid" type="xs:anyURI"/>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="link"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="guid"/>
					<xs:element ref="enclosure"/>
				</xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="pubDate"/>
				<xs:element ref="edgar:xbrlFiling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="link" type="xs:anyURI"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="channel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="link"/>
				<xs:element ref="atom:link"/>
				<xs:element ref="description"/>
				<xs:element ref="language"/>
				<xs:element ref="pubDate"/>
				<xs:element ref="lastBuildDate"/>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pubDate" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="enclosure">
		<xs:complexType>
			<xs:attribute name="url" use="required" type="xs:anyURI"/>
			<xs:attribute name="length" use="required" type="xs:int"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="lastBuildDate" type="xs:string"/>
</xs:schema>
